{% extends 'Layouts/Default.html' %}

{% block title %}
COMING SOON
{% endblock %}

{% block content %}
<main class="u-fixed u-absolute--center">
    <header class="logoBox u-textAlign--center">
        <img class="logo" src="/images/bdc-full.svg" alt="Binghamton Design Collective" />
    </header>
    <div class="messageBox">
        <h2 class="u-textAlign--center messageBox-title">Coming Soon</h2>
        <p class="u-textAlign--center messageBox-content">Sign up to recieve updates regarding the organization.</p>
    </div>
    {{ include('Forms/NewsletterSubscribe.html') }}
</main>
{% endblock %}