{% extends "Layouts/Base.html" %}

{% block title %}All Design{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="styles/index.css" />
{% endblock %}

{% block content %}
    <header class="header">
        <div class="wrapper">
            <nav class="nav nav--main" role="navigation">
                <div class="nav-controls site-brand">
                    <a href="/" class="link">
                        <img src="img/logo-main.svg" alt="BDC logo" class="logo" />
                        <span class="wordmark">Binghamton Design Collective</span>
                    </a>
                </div>
                <div class="nav-controls">
                    <a href="/search" class="link"><img src="img/mag-glass.svg" alt="Search icon" class="search-icon"></a>
                    <button class="btn">Menu</button>
                </div>
                <ul class="nav-controls nav-list">
                    <li><a href="/story">Story</a></li>
                    <li><a href="/insights">Insights</a></li>
                    <li><a href="/people">People</a></li>
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}