<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}// BDC</title>
    <link rel="stylesheet" type="text/css" media="screen" href="styles/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/fonts.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/variables.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/utility.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
    {% block head %}{% endblock %}
</head>
<body class="">
    {% block content %}{% endblock %}
</body>
</html>