body {
    font-family: var(--fontFamily-univers);
    font-weight: var(--fontWeight-base);
    background-color: var(--color-background);
    color: var(--color-primary);
    font-size: var(--fontSize-base);
    line-height: var(--lineHeight);
}

h2 {
    font-size: calc(var(--fontSize-base) * 1.5);
}

.logoBox {
    width: auto;
    height: 3.5rem;
    margin-bottom: calc(var(--spacingY) * 4.5); /* Approx 40px default */
}

.logo {
    width: auto;
    height: 100%;
}

.messageBox,
.messageBox-title {
    margin-bottom: calc(var(--spacingY) * 2); /* Approx 40px default */
}


input {
    margin-bottom: calc(var(--spacingY) * 1.5); /* Approx 40px default */
    color: var(--color-primary);
}

[type="text"],
[type="email"] {
    width: 100%;
    padding: var(--paddingY--text)
             var(--paddingX--text)
             calc(var(--paddingY--text) * calc(2 / 3));
    caret-color: var(--color-primary);
}

[type="submit"] {
    margin: auto;
    margin-bottom: 0;
    padding: var(--paddingY--text)
             calc(var(--paddingX--text) * 1.5)
             calc(var(--paddingY--text) * calc(2 / 3));
}

[type="submit"]:active {
    color: var(--color-background);
    background-color: var(--color-primary); 
}

::-webkit-input-placeholder {
    opacity: 1;
    color: var(--color-subtitle);
}
::-moz-placeholder {
    opacity: 1;
    color: var(--color-subtitle);
}
:-ms-input-placeholder {
    opacity: 1;
    color: var(--color-subtitle);
}
::placeholder {
    opacity: 1;
    color: var(--color-subtitle);
}

@media screen and (min-width: 500px) {
    .half {
        width: 50%;
    }

    .half:nth-child(even) {
        border-left: none;
    }
}