/* Text & Font
-------------------------------------------------- */
.u-textTransform--Capitalize { text-transform: capitalize; }
.u-textTransform--Uppercase { text-transform: uppercase; }

.u-textAlign--center { text-align: center; }
.u-textDecoration--linethrough { text-decoration: line-through; }

/* Position
-------------------------------------------------- */
.u-absolute { position: absolute; }
.u-fixed { position: fixed; }
.u-relative { position: relative; }

.u-absolute--center {
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
}

/* Display
-------------------------------------------------- */
.u-block { display: block; }
.u-flex { display: flex; }
.u-grid { display: grid; }
.u-inlineBlock { display: inline-block; }
.u-hidden { display: none; }

/* Flex
-------------------------------------------------- */
.u-flexJustifyContent--center { justify-content: center; }
.u-flexJustifyContent--spaceBetween { justify-content: space-between; }
.u-flexAlignItems--center { align-items: center; }
.u-flexWrap { flex-wrap: wrap; }

/* Overflow
-------------------------------------------------- */
.u-noOverflow { overflow: hidden; }
.u-noOverflowX { overflow-x: hidden; }
.u-noOverflowY { overflow-y: hidden; }

.u-allowOverflowY { overflow-y: scroll; }

/* Cursor
-------------------------------------------------- */
.u-cursor--pointer { cursor: pointer; }

/* Pointer Events
-------------------------------------------------- */
.u-pointerEvent--auto { pointer-events: auto; }
.u-pointerEvent--none { pointer-events: none; }

/* Box Sizing
-------------------------------------------------- */
.u-boxSizing--borderBox {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.u-boxSizing--contentBox {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* Default Styling
-------------------------------------------------- */
.u-fillView { height: 100vh; width: 100vw; }
.u-noBackground { background: none; }
.u-noBorder { border: none; }
.u-border {
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-primary);
}